<div id="registrations">
  <div id="movement" class="row red area">
      <div class="container">
      <div class="col-md-4 text-center">
        <img src="/images/logo_200.png" alt="">
      </div>
      <div class="col-md-8 text-justify">
          <h1>Log In</h1>
          <p class="lead">
              Copy here about the benefits of joining the circle and how to pitch a new project idea by first becoming a member.
          </p>
      </div>
    </div>
  </div>

  <div class="container area">
    <%= devise_error_messages! %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.submit "Go", class: "btn btn-primary" %>
            </div>
        </div>
    <% end %>
  </div>
</div>
