<div class="container">
  <div class="row mt-2">
    <div class="col-md-8 col-md-offset-2">

      <h1 class="text-center">Show profile page</h1>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 text-center">
            <img src="/images/no_profile.jpg" alt="Your Profile Picture" class="img-circle profile-picture">
          </div>
          <div class="text-info col-md-6">
            <p><strong>Full Name: </strong> <%= @user.full_name %></p>
            <br>
            <p><strong>Email: </strong> <%= @user.email %></p>
            <br>
            <p><strong>Organisation: </strong> <%= @user.organisation %></p>
            <br>
            <a href="#"><strong>Twitter URL: </strong> <%= @user.twitter_url %></a>
            <br>
          </div>
<hr>
          <div class="col-md-6 text-center">
            <img src="/images/no_profile.jpg" alt="Your Profile Picture" class="img-circle profile-picture">
          </div>
          <div class="col-md-6 text-info">
            <p><strong>Chapter Lead: </strong> <%= @user.chapter.lead %></p>
            <br>
            <p><strong>Chapter Lead Email: </strong> <%= @user.chapter.email %></p>
            <br>
            <p><strong>Chapter Lead City: </strong> <%= @user.chapter.city %></p>
            <br>
          </div>
        </div>
      </div>



<hr>


    </div>
  </div>
</div>
