<%= form_with(model: project, url:[@user, @project], local: true) do |form| %>
  <% if project.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

    <ul>
      <% project.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <div class="form-group">
        <%= form.label :title, "Product Intro" %> <br>
        <%= form.text_field :title, placeholder: "Enter your project title", class: "form-control projectText", rows:"3"%>
        <small>What is the name of your project?</small>
      </div>

    <div class="form-group">
      <%= form.label :intro, "Project Introduction" %> <br>
      <%= form.text_area :intro, placeholder: "Enter your project introduction here", class: "form-control projectText", rows:"3"%>
      <small>Give an overview of your project here. </small>
    </div>

    <div class="form-group">
      <%= form.label :impact, "Social Impact" %> <br>
      <%= form.text_area :impact, class: "form-control projectText",rows:"3", placeholder: "Enter your social impact(s) here"%>
      <small>Outline the social impacts from your project and the positive impacts it can bring.</small>
    </div>

    <div class="form-group">
      <%= form.label :businesscase, "Business Case" %> <br>
      <%= form.text_area :businesscase, class: "form-control projectText", rows:"3", placeholder: "Enter your business case here"%>
      <small>Justify the commercial impacts and benefits it can welcome</small>
    </div>

    <div class="actions text-center">
      <%= form.submit class: "btn btn-danger"%>
    </div>
  </div>
</div>
<% end %>
