<div class="container">
  <div class="row mt-2">
    <div class="col-md-8 col-md-offset-2">
      <p id="notice"><%= notice %></p>

      <h1 class="text-center">Projects</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>User</th>
            <th colspan="2">Links</th>
          </tr>
        </thead>

        <tbody>
          <% @projects.each do |project| %>
            <% if project.user.id == @user.id %>
              <tr>
                <td>
                  <%= link_to user_project_path(@user,project) do %>
                  <%= project.title %>
                  <% end %>
                </td>
                <td><%= link_to edit_user_registration_path do %>
                  <%= project.user.first_name %> <%= project.user.last_name %></td>
                <td>
                  <%= link_to user_project_path(@user,project), method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="fas fa-trash"></i>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Project', new_user_project_path, class: "btn btn-danger"%>

    </div>
  </div>
</div>
