<div class="container">
  <div class="row mt-2">
    <div class="col-md-8 col-md-offset-2">

      <p id="notice"><%= notice %></p>

      <div class="title text-center">

        <ul class="pager" style="transform:translateY(150%)">
          <%= link_to :back do %>
          <li class="previous">
            <span aria-hidden="true">&larr;</span>
          </li>
          <% end %>
        </ul>


        <h1><%= @project.title %> <small>by <%= @project.user.first_name %> <%= @project.user.last_name %></small></h1>
      </div>

      <br>

      <div class="page-header">
        <h1><small>Project Introduction</small></h1>
        <p><%= @project.intro %></p>
      </div>

      <div class="page-header">
        <h1><small>Project Impact</small></h1>
        <p><%= @project.impact %></p>
      </div>

      <div class="page-header">
        <h1><small>Business Case</small></h1>
        <p><%= @project.businesscase %></p>
      </div>

    </div>
  </div>
</div>
