<div class="row red-sections container-space">
  <div class="container">
    <div id="welcome" class="welcome jumbotron jumbotron-fluid red-sections">
      <h1>
        <span class="title">
          Welcome<br class="hide-for-small">
          to the Circle of<br class="hide-for-small">
          Young&nbsp;Intrapreneurs<br>
        </span>
      </h1>
    </div>
  </div>
</div>

<div id="video" class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="embed-responsive embed-responsive-16by9 shadow-one">
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe src="https://player.vimeo.com/video/277645964?color=dc3545&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <script src="https://player.vimeo.com/api/player.js"></script>
    </div>
  </div>
</div>

<div id="movement" class="row red-sections container-space">
  <div class="container">
    <div class="col-md-4 text-center">
      <img src="images/logo_200.png" alt="">
    </div>
    <div class="content-responsive col-md-8">
      <h2>Who are the Circle of Young Intrapreneurs?"</h2>
      <p>
        A movement designed to inspire, guide, develop & deliver purpose-driven business ideas from social intrapreneurs inside corporate organisations globally.
      </p>
      <p>
        We drive positive social change through business by creating a community of changemakers and supporting them to deliver their ideas, with tools, mentoring and advice from leading intrapreneurs.
      </p>
      <p>
        Join us and together we can make business a force for good.
      </p>
      <p>
        <%= link_to "Join the circle", new_user_registration_path, class: "btn btn-primary btn-pill" %>
        <%= link_to "Download our Report", '10.03.2018 - Circle Whitepaper OYW Version.pdf', target: :_blank, class: "btn btn-primary btn-pill"  %>
        <%= link_to "100 Day Challenge", 'https://circleofyi.us13.list-manage.com/subscribe?u=6ddfb2318958e6bd7e6d9f028&id=04cc3e3074', target: :_blank, class: "btn btn-primary btn-pill"  %>
      </p>
    </div>
  </div>
</div>

<div class="city-lights img-responsive"></div>

<header class="stories-header">
  <h1>Stories From Our Members</h1>
</header>

<div id="stories" class="stories container container-space">
  <div class="row">
    <div class="content-responsive col-md-4">
      <%= image_tag "barclays.jpg", :class => "stories_image", :alt => "Thomson Reuters"%>
      <h4>Barclays RoundUp</h4>
      <p>
        RoundUp is a microdonation initiative conceived within Barclays by intrapreneurs <a href="https://www.linkedin.com/in/timjrheard/" target="_blank">Tim Heard</a>
        and <a href="https://www.linkedin.com/in/davidjspears/" target="_blank">David Spears</a>, which allows
        individuals to make a big difference with their small change using an interactive digital application.
      </p>
      <p>
        The app enables customers to round up their purchases to the nearest pound
        (for example, the cost of a coffee from £2.85 to £3.00), up to a monthly cap, and donate this
        to a chosen charity.
      </p>
      <a href="" class="btn btn-primary btn-pill text-white" data-toggle="modal" data-target="#roundupCaseStudy">Watch Video</a>
    </div><!-- 1st column end -->

    <div class="content-responsive col-md-4">
      <%= image_tag "o2_telefonica.jpg", :class => "stories_image", :alt => "Thomson Reuters"%>
      <h4>Connected Homeless</h4>
      <p>
        Connected Homeless is a digital platform created when he worked at O2 by intrapreneur Sal Mohammed.
        It connects donors, homeless
        people and organisations through the provision of a variety of services to the homeless community.
        </p>
        <p>The platform accepts donations from private individuals, corporates and government entities, working through a
        crypto-currency based system. Through the consumer-facing (donor) app, users are able to
        donate their spare resources with the click of a button.
      </p>
      <a href="" class="btn btn-primary btn-pill text-white" data-toggle="modal" data-target="#ConnHomeCaseStudy">Watch Video</a>
    </div><!-- 2nd column end -->

    <div class="content-responsive col-md-4">
      <%= image_tag "thomson_reuters.jpg", :class => "stories_image", :alt => "Thomson Reuters"%>
      <h4>TicketAid</h4>
      <p>
        TicketAid is a corporate ticket allocation website designed to give employees access to exclusive
        tickets, that would otherwise go unused, whilst raising funds for charity.</p>
        <p>It was brought into being by intrapreneur Matthew O'Shea at Thomson Reuters and works as an innovative platform connecting
        corporates, employees and charities whereby unallocated corporate hospitality tickets are
        redonated to TicketAid.</p>
        <p>Employees can then buy these tickets at face value, with the proceeds
        going to an assigned charity selected by the donator of the ticket.
      </p>
      <a href="" class="btn btn-primary btn-pill text-white" data-toggle="modal" data-target="#ticketaidCaseStudy">Watch Video</a>
    </div><!-- 3rd column end -->
  </div><!-- row end -->
</div><!-- stories end -->

<div class="city-bg img-responsive"></div>

<div class="row red-sections container-space hidden-sm hidden-xs">
  <div class="container">
      <div id="map-container" class="col-md-12">
        <h1>Global Hubs</h1>
        <div id="map"></div>
      </div>
  </div>
</div>

<!-- Case Study Videos -->
<!-- Roundup -->
<div class="modal fade" id="roundupCaseStudy" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="embed-responsive embed-responsive-16by9 shadow-one">
        <iframe src="https://www.youtube.com/embed/cszDgqSjSwA" frameborder="2px" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<!-- Connected Homeless -->
<div class="modal fade" id="ConnHomeCaseStudy" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="embed-responsive embed-responsive-16by9 shadow-one">
        <iframe src="https://www.youtube.com/embed/G3JAvO6YL8E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<!-- TicketAid -->
<div class="modal fade" id="ticketaidCaseStudy" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="embed-responsive embed-responsive-16by9 shadow-one">
        <iframe src="https://www.youtube.com/embed/G3JAvO6YL8E" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
