<div class="row red-sections container-space">
  <div class="container">
    <div id="welcome" class="welcome jumbotron jumbotron-fluid red-sections">
      <h1>
        <span class="title">
          Resources
        </span>
      </h1>
      <p class="p-responsive">
        Welcome to the resource page! Here you will find all the information you need on The Circle of Young Intrapreneurs. We want you to know every thing there is to know about us so if there is any thing you can’t find here, please do contact us for more information.
      </p>
    </div>
  </div>
</div>


<div id="video" class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="embed-responsive embed-responsive-16by9 shadow-one">
      <%= get_vimeo_iframe('https://vimeo.com/277653853', width="100%", height="auto") %>
    </div>
  </div>
</div>


<div id="movement" class="row red-sections container-space">
  <div class="container">

    <div class="col-md-12 text-center documents">
      <div class="row">
        <h2>Documents</h2>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div id="content">
            <ul id="tabs" class="nav nav-tabs nav-justified" data-tabs="tabs">
              <li class="active"><a href="#convert" data-toggle="tab">Convert</a></li>
              <li><a href="#create" data-toggle="tab">Create</a></li>
              <li><a href="#construct" data-toggle="tab">Construct</a></li>
              <li><a href="#commit" data-toggle="tab">Commit</a></li>
              <li><a href="#control" data-toggle="tab">Control</a></li>
            </ul>
            <div id="my-tab-content" class="tab-content">

              <!-- CONVERT -->
              <div class="tab-pane active" id="convert">
                <table class="table mt-2">
                  <thead>
                    <tr>
                      <th class="col-md-3 text-center">Resource</th>
                      <th class="col-md-6 text-center">Description</th>
                      <th class="col-md-3 text-center">Download</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="col-md-3"><h4 data-toggle="modal" data-target="#introToIP">Intro to Intrapreneurship</h4></td>
                      <td class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                      <td class="col-md-3"><i class="fas fa-download"></i></td>
                    </tr>
                    <tr>
                      <td class="col-md-3"><h4 data-toggle="modal" data-target="#socintDef">Socint Definition</h4></td>
                      <td class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                      <td class="col-md-3"><i class="fas fa-download"></i></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- CREATE -->
              <div class="tab-pane fade" id="create">
                <table class="table mt-2">
                  <thead>
                    <tr>
                      <th class="col-md-3 text-center">Resource</th>
                      <th class="col-md-6 text-center">Description</th>
                      <th class="col-md-3 text-center">Download</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="col-md-3"><h4 data-toggle="modal" data-target="#socintTriangle">Soccint Triangle</h4></td>
                      <td class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                      <td class="col-md-3"><i class="fas fa-download"></i></td>
                    </tr>
                  </tbody>
                </table>
              </div>


              <!-- CONSTRUCT -->
              <div class="tab-pane fade" id="construct">
                <table class="table mt-2">
                  <thead>
                    <tr>
                      <th class="col-md-3 text-center">Resource</th>
                      <th class="col-md-6 text-center">Description</th>
                      <th class="col-md-3 text-center">Download</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="col-md-3"><h4 data-toggle="modal" data-target="#roundupPitch">Roundup Original Pitch</h4></td>
                      <td class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                      <td class="col-md-3"><i class="fas fa-download"></i></td>
                    </tr>
                    <tr>
                      <td class="col-md-3"><h4 data-toggle="modal" data-target="#roundupPitchSummary">Roundup Summary</h4></td>
                      <td class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                      <td class="col-md-3"><i class="fas fa-download"></i></td>
                    </tr>
                  </tbody>
                </table>
              </div>


              <!-- COMMIT -->
              <div class="tab-pane fade" id="commit">
                <table class="table mt-2">
                  <thead>
                    <tr>
                      <th class="col-md-3 text-center">Resource</th>
                      <th class="col-md-6 text-center">Description</th>
                      <th class="col-md-3 text-center">Download</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="col-md-3">
                        <%= link_to "approaching a senior person - email.pdf", target: :_blank do %>
                          <h4>Roundup Original Pitch</h4>
                        <% end %>
                      </td>
                      <td class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                      <td class="col-md-3"><i class="fas fa-download"></i></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <!-- CONTROL -->
              <div class="tab-pane fade" id="control">
                <table class="table mt-2">
                  <thead>
                    <tr>
                      <th class="col-md-3 text-center">Resource</th>
                      <th class="col-md-6 text-center">Description</th>
                      <th class="col-md-3 text-center">Download</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="col-md-3"><h4 data-toggle="modal" data-target="#roundupPilot">Roundup Pilot Review</h4></td>
                      <td class="col-md-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</td>
                      <td class="col-md-3"><i class="fas fa-download"></i></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Intro to Intrapreneursip Modal -->
<div class="modal fade" id="introToIP" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="introToIP_controls" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag("slides/convert/Intrapreneurship-Intro-Slides/Slide1.jpeg") %>
          </div>
          <div class="item">
            <%= image_tag("slides/convert/Intrapreneurship-Intro-Slides/Slide2.jpeg") %>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#introToIP_controls" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#introToIP_controls" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Socint Definition Modal -->
<div class="modal fade" id="socintDef" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="slide">
        <%= image_tag("slides/convert/Socint Definition.jpeg") %>
      </div>
    </div>
  </div>
</div>

<!-- Socint Triangle Modal -->
<div class="modal fade" id="socintTriangle" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="slide">
        <%= image_tag("slides/create/Socint Triangle.jpeg") %>
      </div>
    </div>
  </div>
</div>

<!-- Barclays Roundup Original Pitch Modal -->
<div class="modal fade" id="roundupPitch" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="roundupPitchControls" class="carousel slide" data-ride="carousel" data-interval="false">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#roundupPitch" data-slide-to="0" class="active"></li>
          <li data-target="#roundupPitch" data-slide-to="1"></li>
          <li data-target="#roundupPitch" data-slide-to="2"></li>
          <li data-target="#roundupPitch" data-slide-to="3"></li>
          <li data-target="#roundupPitch" data-slide-to="4"></li>
          <li data-target="#roundupPitch" data-slide-to="5"></li>
          <li data-target="#roundupPitch" data-slide-to="6"></li>
          <li data-target="#roundupPitch" data-slide-to="7"></li>
          <li data-target="#roundupPitch" data-slide-to="8"></li>
          <li data-target="#roundupPitch" data-slide-to="9"></li>
          <li data-target="#roundupPitch" data-slide-to="10"></li>
          <li data-target="#roundupPitch" data-slide-to="11"></li>
          <li data-target="#roundupPitch" data-slide-to="12"></li>
          <li data-target="#roundupPitch" data-slide-to="13"></li>
          <li data-target="#roundupPitch" data-slide-to="14"></li>
          <li data-target="#roundupPitch" data-slide-to="15"></li>
          <li data-target="#roundupPitch" data-slide-to="16"></li>
          <li data-target="#roundupPitch" data-slide-to="17"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

          <div class="item active">
            <%= image_tag("slides/construct/roundup/Original Pitch/Slide01.jpeg") %>
          </div>
          <div class="item">
            <%= image_tag("slides/construct/roundup/Original Pitch/Slide02.jpeg") %>
          </div>
          <div class="item">
            <%= image_tag("slides/construct/roundup/Original Pitch/Slide03.jpeg") %>
          </div>
          <div class="item">
            <%= image_tag("slides/construct/roundup/Original Pitch/Slide04.jpeg") %>
          </div>
          <div class="item">
            <%= image_tag("slides/construct/roundup/Original Pitch/Slide05.jpeg") %>
          </div>
          <div class="item">
            <%= image_tag("slides/construct/roundup/Original Pitch/Slide06.jpeg") %>
          </div>
          <div class="item">
            <%= image_tag("slides/construct/roundup/Original Pitch/Slide07.jpeg") %>
          </div>
          <div class="item">
            <%= image_tag("slides/construct/roundup/Original Pitch/Slide08.jpeg") %>
          </div>
          <div class="item">
            <%= image_tag("slides/construct/roundup/Original Pitch/Slide09.jpeg") %>
          </div>
          <div class="item">
            <%= image_tag("slides/construct/roundup/Original Pitch/Slide10.jpeg") %>
          </div>
          <div class="item">
            <%= image_tag("slides/construct/roundup/Original Pitch/Slide11.jpeg") %>
          </div>
          <div class="item">
            <%= image_tag("slides/construct/roundup/Original Pitch/Slide12.jpeg") %>
          </div>
          <div class="item">
            <%= image_tag("slides/construct/roundup/Original Pitch/Slide13.jpeg") %>
          </div>
          <div class="item">
            <%= image_tag("slides/construct/roundup/Original Pitch/Slide14.jpeg") %>
          </div>
          <div class="item">
            <%= image_tag("slides/construct/roundup/Original Pitch/Slide15.jpeg") %>
          </div>
          <div class="item">
            <%= image_tag("slides/construct/roundup/Original Pitch/Slide16.jpeg") %>
          </div>
          <div class="item">
            <%= image_tag("slides/construct/roundup/Original Pitch/Slide17.jpeg") %>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#roundupPitchControls" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#roundupPitchControls" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Barclays Roundup Original Pitch Summary Modal -->
<div class="modal fade" id="roundupPitchSummary" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="slide">
        <%= image_tag("slides/construct/roundup/RU Pitch.jpeg") %>
      </div>
    </div>
  </div>
</div>

<!-- Barclays Roundup Pilot Review Modal -->
<div class="modal fade" id="roundupPilot" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div id="roundupPilotControls" class="carousel slide" data-ride="carousel" data-interval="false">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#roundupPilotControls" data-slide-to="0" class="active"></li>
          <% for i in 1..12 %>
          <li data-target="#roundupPilotControls" data-slide-to="<%= i %>"></li>
          <% end %>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag("slides/control/Barclays Roundup Pilot/Slide1.jpeg") %>
          </div>
          <% for i in 2..13 %>
          <div class="item">
            <%= image_tag("slides/control/Barclays Roundup Pilot/Slide#{i}.jpeg") %>
          </div>
          <% end %>


        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#roundupPilotControls" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#roundupPilotControls" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
