<div class="container chapters">
  <p id="notice"><%= notice %></p>

  <div class="row text-center">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
      <h1 class="title">Chapters</h1>
    </div>
    <div class="col-xs-4">
      <%= link_to 'New Chapter', new_chapter_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
      <table class="table">
        <thead>
          <tr>
            <th >City</th>
            <th >Lead(s)</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @chapters.each do |chapter| %>
            <tr>
              <td>
                <%= link_to chapter do %>
                  <%= chapter.city %>
                <% end %>
              </td>
              <td><%= chapter.lead %></td>
              <td><%= link_to 'Edit', edit_chapter_path(chapter) %></td>
              <td><%= link_to 'X', chapter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>


<br>
