<div class="container chapters">
  <p id="notice"><%= notice %></p>

  <div class="row text-center">
    <div class="col-xs-2">
      <%= link_to 'Chapters', chapters_path %>
    </div>
    <div class="col-xs-8">
      <h2 class="title"><%= @chapter.city %></h2>
      <h4 class="subtitle"><%= @chapter.country.name %></h4>
    </div>
    <div class="col-xs-2">
      <%= link_to 'Edit', edit_chapter_path(@chapter) %>
    </div>
  </div>
  <div class="row text-center" style="margin:30px 0">
    <h4>Lead(s)</h4>
    <% @chapter.users.each do |chap_user| %>
    <h5><%= chap_user.first_name %> <%= chap_user.last_name %></h5>
    <% end %>
  </div>
</div>
