<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>COYI</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:200,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,400" rel="stylesheet">
    <%= favicon_link_tag '/images/logo_100.png' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>

  <body>
    <%= render 'partials/nav' %>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <%= render 'partials/footer' %>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADaO5iByH2e2RNSfQX6mtWbQKP_oFdemw&callback=initMap"
    async defer data-turbolinks-eval="false"></script>
  </body>
</html>
